.places {
  display: flex;
  flex-direction: column;
  max-width: calc(100% - 296px);
  margin: 0 auto;
  padding-bottom: 92px;
  gap: 80px;
}

@media screen and (max-width: 1279px) {
  .places {
    max-width: calc(100% - 96px);
  }
}

@media screen and (max-width: 1023px) {
  .places {
    max-width: calc(100% - 48px);
    padding-bottom: 88px;
  }
}

@media screen and (max-width: 767px) {
  .places {
    gap: 50px;
    max-width: 100%;
    padding-bottom: 66px;
  }
}
