.cover {
  position: relative;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  max-width: calc(1280px - 96px);
  margin: 0 auto;
  background-image: url('../../images/cover-trains.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
}

.cover .overlay:hover {
  opacity: 0.8;
}
