.footer {
  max-width: calc(100% - 96px);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 92px 0 24px;
}

@media screen and (max-width: 1023px) {
  .footer {
    max-width: calc(100% - 48px);
    padding-top: 88px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    padding-top: 64px;
    gap: 48px;
    padding-left: 16px;
    max-width: 100%;
  }
}
